.list-menu__play-controller {
  width: 340px;
  height: 75px;
  background-color: #222222;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 17px;
  left: 17px;
}

.list-menu__play-controller__song-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.list-menu__play-controller__song-info h5:first-child {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: gray;
  margin-top: -5px;
}

.list-menu__play-controller__song-info h3:last-child {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: whitesmoke;

  margin-top: 10px;
}
.list-menu__play-controller__btns {
  display: flex;
}

.list-menu__play-controller__btns :nth-child(n) {
  color: white;
  margin-right: 30px;
}
