.list-menu__play-list {
  margin: 30px 15px;
  display: flex;
  flex-direction: column;
}

.list-menu__play-list__song {
  display: flex;
  justify-content: space-between;
  padding: 15px 28px;
  position: relative;
  height: 80px;
  width: 335px;
}

.list-menu__play-list article:nth-child(2) {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.list-menu__play-list__song__column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-menu__play-list__song__column__album-cover {
  display: flex;
  position: relative;
  align-items: center;
}

.list-menu__play-list__song__column__album-cover img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.list-menu__play-list__song__column__album-cover i {
  position: absolute;
  left: 13px;
  color: white;
  font-size: 20px;
  transform: rotate(-90deg);
}
.list-menu__play-list__song__column__text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: -3px;
}
.list-menu__play-list__song__column__text h7:first-child {
  font-size: 13px;
  font-weight: var(--h5-font-weight);
  opacity: var(--h5-opacity);
  letter-spacing: 0.3px;
  margin-bottom: 5px;
}

.list-menu__play-list__song__column__text h3:last-child {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.75;
  text-shadow: #363636 0px 0 0.5px;
  margin-top: 3px;
  letter-spacing: 1.8px;
  margin-top: 3px;
}

.list-menu__play-list__song__column__icon {
  opacity: var(--h5-opacity);
}
