.list-menu__singer-info {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-menu__singer-info__avatar {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px #ca734b;
}

.list-menu__singer-info__text {
  margin-top: 40px;
  text-align: center;
}

.list-menu__singer-info__text h2:first-child {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  color: var(--h2-color);
  text-shadow: var(--text-shadow);
}

.list-menu__singer-info__text h5:last-child {
  margin-top: 15px;
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
  opacity: var(--h5-opacity);
}
