.play-now__music-controller {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.play-now__music-controller__playing-bar {
  margin: 0px 35px;
}

.play-now__music-controller__playing-bar__time {
  display: flex;
  justify-content: space-between;
  opacity: 0.3;
  font-weight: 600;
  font-size: 12px;
}
.play-now__music-controller__playing-bar__form {
  position: relative;
  margin-top: 10px;
}

.play-now__music-controller__playing-bar__form div:nth-child(n) {
  position: absolute;
}

.play-now__music-controller__playing-bar__form div:first-child {
  width: 300px;
  height: 4px;
  background-color: gray;
  border-radius: 1000px;
  opacity: 0.5;
}

.play-now__music-controller__playing-bar__form div:nth-child(2) {
  width: 200px;
  height: 4px;
  background-color: black;
  border-radius: 1000px;
}

.play-now__music-controller__playing-bar__form div:last-child {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  left: 200px;
  top: -2px;
}

.play-now__music-controller__btns i:first-child,
.play-now__music-controller__btns i:last-child {
  opacity: 0.5;
  font-size: 20px;
}

.play-now__music-controller__btns {
  margin: 60px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.play-now__music-controller__btns__play {
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.play-now__music-controller__btns__play i:first-child {
  opacity: 1;
}
