.play-now__song-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-top: 80px;
}

.play-now__song-info__cover img {
  height: 265px;
  width: 265px;
  border-radius: 20px;
  box-shadow: 0px 20px 30px rgb(230, 68, 28, 0.6);
}

.play-now__song-info__text {
  text-align: center;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}

.play-now__song-info__text h2:first-child {
  font-size: 30px;
  font-weight: var(--h2-font-weight);
  text-shadow: var(--text-shadow);
  color: var(--h2-color);
}

.play-now__song-info__text h3:last-child {
  margin-top: 20px;
  font-size: 16px;
  font-weight: var(--h5-font-weight);
  opacity: var(--h5-opacity);
}
